version: "3.9"

services:
  mongo:
    image: mongo:latest
    container_name: mongo_container
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: comp3123_assignment2
    volumes:
      - ./backend/data:/data/db

  backend:
    build: ./backend
    container_name: comp3123_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/comp3123_assignment2
      - JWT_SECRET=your_secret_here
    depends_on:
      - mongo
